/*
COLORS:

Text : #707070
Main : #168FB0
Btn : #DBA510
*/
:root {
    --main-color: #168FB0;
    --text-color: #707070;
    --btn-color: #DBA510;
    --text-footer: #D9F6FF;
    --btn-yellow-btn: #FF9933;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
    color: #707070;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

label {
    margin: 0;
}

header {
    background: #ffffff;
}

.navbar .logo {
    width: 32.5rem;
    height: auto;
}


@media (max-width: 575.98px) {
    .center__item-flex {
        margin: 0 auto;
    }
}

.btn-my-primary {
    background: var(--main-color);
    border: none;
    color: #ffffff;
}

h3 {
    margin: 0;
}

a:hover {
    text-decoration: none;
    color: initial;
}

.btn-search {
    cursor: pointer;
    color: var(--main-color);
}

.banner input {
    border: none;
}

.banner input ::-webkit-clear-button {
    display: none; /* Hide the button */
    -webkit-appearance: none; /* turn off default browser styling */
}

.banner input ::-ms-clear {
    display: none; /* Hide the button */
    -webkit-appearance: none; /* turn off default browser styling */
}

.banner input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}


/*.banner input[type=date]::-webkit-calendar-picker-indicator {*/
/*!*-webkit-appearance: none;*!*/
/*!*display: none;*!*/
/*width: 100%;*/
/*height: 100%;*/
/*position: absolute;*/
/*top: 0;*/
/*left: 0;*/
/*opacity: 0;*/

/*}*/

.banner {
    background: url("../images/hinhmay_bay.jpg") no-repeat center;
    height: 100vh;
    background-size: cover;
    position: relative;
}

.banner__box {
    top: 50%;
    left: 0;
    width: 100%;
    z-index: 3;
    background: rgba(32, 62, 125, 0.6);
    padding: 4rem 2.6rem;
    color: #ffffff;
}

.form-row input, .form-row select {
    height: 4rem;
}

.box-from-to {
    background: #ffffff;
    height: 34rem;
    width: 50.5rem;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    position: absolute;
    top: -224%;
    left: 98%;
    z-index: 2;
    display: none;
    transition: .2s all;
}

.box-from-to.active {
    display: flex;
}

.tab__title {
    width: 35%;
    background: var(--main-color);
    height: 100%;
}

.tab__title li {

    border-top: 1px solid #97d4e6;
}

.tab__title li:first-child {
    border: none;
}

.tab__title li a {
    text-transform: uppercase;
    color: #ffffff;
    display: block;
    padding: 1.3rem;
}

.tab__title li.active {
    background: #ffffff;
}

.tab__title li.active a {
    color: #000;

}

.tab__content {
    width: 75%;
    height: 100%;
    background: #ffffff;
    padding-left: 3.5rem;
}

.tab__content ul {
    overflow-y: scroll;
    height: 100%;
    display: none;
}

.tab__content ul.active {
    display: block;
}

.tab__content li:first-child {
    border: none;
}

.tab__content li {
    padding: 1rem 0;
    border-top: 1px solid #ccc;
}

.tab__content li a {
    color: var(--main-color);
}

.tab-pane a {
    display: block;
}

.locationCode {
    display: none;
}

.banner__title {
    width: 21.4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin-bottom: 1rem;
}

.banner__search {
    text-transform: uppercase;
    font-size: 1.4rem;
    width: 14rem;
    height: 3.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;

    transition: all 0.2s ease-in-out;
}

.banner__journey-text {
    margin-right: 1rem;
}

.banner__journey-radiotext {
    margin-right: .5rem;
}

.banner__box .form-group.col-lg-4,
.banner__box .form-group.col-lg-6 {
    padding: 0 .5rem 0 0;
}

.form-group {
    margin: 0;
}

#journeytwo, #journeyone {
    vertical-align: middle;
}

.section-title {
    text-align: center;
    position: relative;
    margin-bottom: 1.2rem;
}

.section-title span {
    background: white;
    padding: 0 2rem;
    font-size: 3rem;
}

.section-title:after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 1px;
    background: #000000;
    margin: 2rem 0;
    top: 0%;
    left: 0;
    z-index: -1;
}

.col-promotions {
    padding: 0 2px;
}

.promotion__wrap-col {
    background: url("../images/SGN.jpg") center no-repeat;
    height: 495px;
    background-size: cover;
    margin-bottom: 4px;
    position: relative;
    color: #ffffff;
}

.height-50 .promotion__wrap-col {
    height: 245.5px;

}

.promotion__wrap-col:after {
    content: "";
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, .6530987394957983) 0%, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0) 100%);
}

.promotion__description {
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    font-size: 1.3rem;
    z-index: 2;
}

.promotion__description-city, .promotion__description-price {
    font-size: 2.2rem;
    margin: .5rem 0;
}

.promotion__description-date-book {
    margin: .5rem 0;
}

.promotion__description-btn-book {
    width: 15rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: 1px solid #ffffff;
    border-radius: 5px;
    color: #ffffff;
}

.promotion__description-btn-book:hover {
    background: #ffffff29;
    color: #ffffff;
}

.col-4.height-50 {
    padding: 0;
}


/*footer*/
footer {
    color: #D9F6FF;
}

footer {
    background: var(--main-color);
    padding: 2.3rem 0 0 0;
}

.footer__nav {
    display: flex;
    justify-content: space-between;
}

.footer__nav-title {
    color: #DBA510;
    font-size: 1.6rem;
    margin-bottom: .7rem;
}

.footer__nav-ul li a {
    color: #ffffff;
    font-size: 1.3rem;
    margin-bottom: .7rem;
    display: inline-block;
}

.footer__bottom {
    margin: 9rem 0 0 0;
    padding-bottom: 5rem;
    border-bottom: 1px solid var(--text-footer);
}

.footer__row {
    display: table;
    width: 100%;
}

.footer__row-left {
    display: table-cell;
    vertical-align: middle;
}

.footer__row-cuscare {
    display: table-cell;
    vertical-align: middle;
    width: 41%;
}

.footer__row-award {
    display: table-cell;
    vertical-align: middle;
    width: 20%;
}

.footer__row-skyteam img {
    width: 120px;
    height: auto;
    display: block;
}

.footer__row-contact {
    margin: 1.4rem 0;
}

.footer__row-contact li {
    display: inline-flex;
    margin-right: .8rem;
}

.footer__row-contact a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: var(--text-footer);
    font-size: 1.3rem;
    width: 3.5rem;
    height: 3.5rem;
    border: 0.1rem solid #ffffff;
    border-radius: 50%;
}

.footer__row-link li {
    display: inline-flex;
    border-right: 1px solid var(--text-footer);
    padding: 0 .5rem;
}

.footer__row-link li a {
    color: var(--text-footer);
    font-size: 1.3rem;
}

.footer__row-link li:last-child {
    border: none;
}

.footer__row-cuscare {
    font-size: 1.3rem;
}

.footer__row-award ul {
    display: flex;
    justify-content: space-between;
    margin-bottom: .5rem;
}

.footer__row-award li img {
    width: auto;
    height: 3.5rem;
}

.footer__row-text {
    clear: both;
    text-align: center;
    font-size: 1.3rem;
}

.contactcenter a {
    padding-bottom: 15px;
    color: #d9f6ff;
    letter-spacing: -1px;
    font-size: 1.5rem;
    font-weight: bold;
}

.footer__copyright {
    margin: 3rem;
    text-align: center;
    color: #b1e0ee;
    line-height: 1.5;
    font-size: 11px;

}

.footer__copyright .footertel {
    color: #d9f6ff;
    text-decoration: none;
}

.logo_congthuong {
    display: inline-flex;
    margin-top: 1rem;
}

.logo_congthuong li {

    margin-right: 1.5rem;
}

header .fa-bars {
    font-size: 3.6rem;
}

.footer__nav {
    flex-direction: column;
    text-align: center;
}

.footer__bottom {
    margin-top: 0;
}

@media (min-width: 993px)  and (max-width: 1250px) {
    /*.banner__search {*/
    /*margin-bottom: 2rem;*/
    /*}*/
}

@media (min-width: 768px) {
    .footer__nav-col .collapse:not(.show) {
        display: block;
    }

    .center__item-flex {
        margin: 0 auto;
    }

    .footer__nav {
        flex-direction: row;
        text-align: initial;
    }

    .footer__bottom {
        margin-top: 9rem;
    }

}


@media (max-width: 768px) {
    .box-from-to {
        width: 198%;
        top: 101%;
        left: 0;
    }


    .tab__content {
        padding: 0;
    }
}

@media (max-width: 575.98px) {
    .banner .container {
        padding: 0;
    }

    .banner .jumbotron {
        padding: 2.3rem 2.6rem;
    }

    .box-from-to {
        width: 98% !important;
        font-size: 1rem;
        top: 101%;
        left: 0 !important;
    }
}

@media (max-width: 992px) {

    html {
        font-size: 72.5%;
    }

    .h-100 {
        max-width: 100%;
        margin: 0;
    }

    .banner {
        background: none;
        height: auto;
        margin-top: 6.7rem;
        text-align: center;
    }

    .banner input {
        text-align: center;
    }

    .pdr-3 {
        padding: 0;
    }

    .pdr-1 {
        padding: 0;
    }

    .banner .h-100 {
        height: auto !important;
    }

    .banner__box {
        position: static !important;
    }

    .box-from-to {
        width: 199%;
        top: 101%;
        left: 0;
    }

    #js-box-to.box-from-to {
        width: 199%;
        top: 101%;
        left: -100%;
    }

    .center__item-flex {
        margin: auto;
    }

    .banner__title {
        margin: 0 auto 1rem auto;
    }

    .banner__baby {
        text-align: center;
    }

    .promotion__description {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: flex-end;
        align-items: center;
        padding-bottom: 2rem;
    }

    .footer__row-cuscare, .footer__row-award, .footer__row-skyteam {
        display: none;
    }

    .footer__row-left {
        text-align: center;
    }

    .footer__bottom {
        padding: 0;
    }

    .form-row {
        justify-content: center;
    }

    .form-check {
        text-align: center;
    }

    .promotion__wrap-col {
        height: 495px !important;
    }

    .footer__nav-title {
        cursor: pointer;
    }

    .navbar .logo {
        width: 22rem;
        height: auto;
    }

    .banner .banner__search {
        margin: 2rem auto;
        /*margin-top: 2rem;*/

    }
}

